
		
		<script type="text/javascript" src="js/theme/custom-slider.js"></script>
		
		<section id="hero" class="light-typo">
			<div class="container welcome-content">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center wow fadeInUp">
						<img id="logo" src="img/logo.png" class="img-responsive text-center" alt="shop logo" width="100">				
						
						<h2>Map Search</h2>
						<h4>Map based on keywords filter and map bounding box selection</h4>
						<div class="text-center">
							<a class="btn btn-store color smooth-scroll" href="#search"><i class="fa fa-map fa-lg white"></i> Search via Map</a>
						</div>						
						
						<hr class="gradientwhite">
						
						<h2>Search through National IGSN Repository</h2>
						<div class="text-center">
							<div class="input-group">
							<input id="newsletter-mail" name="email" placeholder="Enter Search Text" class="form-control input-lg" type="text" >
							<span class="input-group-btn">
								<a class="btn btn-store smooth-scroll" href="#products"><i class="fa fa-search fa-lg white"></i> Search</a>
							</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="overlay-bg"></div>
			<div id="hero-slides">
				<div class="slides-container">
					<img src="img/rock1.jpg" alt="">
					<img src="img/rock2.jpg" alt="">
					<img src="img/rock3.jpg" alt="">
				</div>
			</div>
		</section>

		<section class=" padding-top-bottom" ng-controller="browseCtrl">
			<div class="container">
				<header class="section-header text-center wow fadeInUp">
					<h2>Sample Type</h2>
				</header>
			</div>
			<div class="container">
				<div id="projects-container" class="row">
					<div class="col-sm-12 col-md-6">
						<div class="row">
							<div class="col-sm-12">
								<article class="design product col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
									<div class="img-box">
										<div class="hover-mask2"></div>
										<span class="product-icon icon-eye"></span>
										<img class="img-responsive project-image" src="img/rock1.jpg" alt="">
									</div>
									<div class="product-info col-md-12">
										<div>
											<h4 class="project-title">Sample Type</h4>
										</div>
									</div>
								</article>
								<article class="mock-up product col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.4s">
									<div class="img-box">
										<div class="hover-mask2"></div>
										<span class="product-icon icon-eye"></span>
										<img class="img-responsive project-image" src="img/rock2.jpg" alt="">
									</div>
									<div class="product-info col-md-12">
										<div>
											<h4 class="project-title">Sample Type</h4>
										</div>	
									</div>
								</article>
								<article class=" icons product col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.6s">
									<div class="img-box">
										<div class="hover-mask2"></div>
										<span class="product-icon icon-eye"></span>
										<img class="img-responsive project-image" src="img/rock3.jpg" alt="">
									</div>
									<div class="product-info col-md-12">
										<div>
											<h4 class="project-title">Sample Type</h4>
										</div>	
									</div>
								</article>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<article class="design product col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
									<div class="img-box">
										<div class="hover-mask2"></div>
										<span class="product-icon icon-eye"></span>
										<img class="img-responsive project-image" src="img/rock1.jpg" alt="">
									</div>
									<div class="product-info col-md-12">
										<div>
											<h4 class="project-title">Sample Type</h4>
										</div>
									</div>
								</article>
								<article class="mock-up product col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.4s">
									<div class="img-box">
										<div class="hover-mask2"></div>
										<span class="product-icon icon-eye"></span>
										<img class="img-responsive project-image" src="img/rock2.jpg" alt="">
									</div>
									<div class="product-info col-md-12">
										<div>
											<h4 class="project-title">Sample Type</h4>
										</div>	
									</div>
								</article>
								<article class=" icons product col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.6s">
									<div class="img-box">
										<div class="hover-mask2"></div>
										<span class="product-icon icon-eye"></span>
										<img class="img-responsive project-image" src="img/rock3.jpg" alt="">
									</div>
									<div class="product-info col-md-12">
										<div>
											<h4 class="project-title">Sample Type</h4>
										</div>	
									</div>
								</article>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-6">
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h3 class="panel-title"><b>List of Samples</b></h3>
						  </div>
						  <div class="panel-body">
						    	<table>
					                <thead>
					                <tr>						                                
					                    <th>IGSN</th>
					                    <th>Something else</th>						                                						                               
					                </tr>
					                </thead>
					                <tbody>
					                <tr ng-repeat="sample in samples">
					                    <th><a ng-click="viewSample(sample.igsn)">{{sample.igsn}}</a></th>
					                    <td>{{sample.igsn}}</td>						                               
					                </tr> 
					                                 
					             </tbody>
					          </table>
						  </div>
						</div>
					</div>
				</div>
			</div>

		</section>