
		
		<script type="text/javascript" src="js/theme/custom-slider.js"></script>
		
		<section id="hero" class="light-typo">
			<div class="container welcome-content">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center wow fadeInUp">
						<a href="http://igsn.github.io/">
							<img id="logo" src="img/igsn_logo.png" class="img-responsive text-center" alt="shop logo" width="100">				
						</a>
						<h2>Map Search</h2>
						<h4>Map based on keywords filter and map bounding box selection</h4>
						<div class="text-center">
							<a class="btn btn-store color smooth-scroll" href="#search"><i class="fa fa-map fa-lg white"></i> Search via Map</a>
						</div>						
						
						<hr class="gradientwhite">
						
						<h2>Search through National IGSN Repository</h2>
						<div class="text-center">
							<div class="input-group">
							<input id="newsletter-mail" name="email" placeholder="Enter Search Text" ng-model="searchText" class="form-control input-lg" type="text" >
							<span class="input-group-btn">
								<a class="btn btn-store smooth-scroll" href="#search"><i class="fa fa-search fa-lg white"></i> Search</a>
							</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="overlay-bg"></div>
			<div id="hero-slides">
				<div class="slides-container">
					<img src="img/rock1.jpg" alt="">
					<img src="img/rock2.jpg" alt="">
					<img src="img/rock4.jpg" alt="">				
					<img src="img/rock5.jpg" alt="">
				</div>
			</div>
		</section>

		<section class=" padding-top-bottom" ng-controller="browseCtrl">
			
			<div class="container">
				<div id="projects-container" class="row">
					<div class="row">
							<header class="section-header text-center wow fadeInUp col-sm-6">
								<h2>Material Type</h2>
							</header>
					</div>		
					<div class="col-sm-12 col-md-6">									
						<div class="row">							
							<div class="col-sm-12">
								<article ng-click="filterMaterialType('air')" class="design product col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
									<div class="img-box">
										<div class="hover-mask2"></div>
										<span class="product-icon icon-eye"></span>
										<img class="img-responsive project-image" src="img/materialType/air.jpg" alt="">
									</div>
									<div class="product-info col-md-12">
										<div>
											<h4 class="project-title">Air({{stats.statsTable['air'].count || 0}})</h4>
										</div>
									</div>
								</article>
								<article ng-click="filterMaterialType('gas')" class="mock-up product col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.4s">
									<div class="img-box">
										<div class="hover-mask2"></div>
										<span class="product-icon icon-eye"></span>
										<img class="img-responsive project-image" src="img/materialType/gas.jpg" alt="">
									</div>
									<div class="product-info col-md-12">
										<div>
											<h4 class="project-title">Gas({{stats.statsTable['gas'].count || 0}})</h4>
										</div>	
									</div>
								</article>
								<article ng-click="filterMaterialType('ice')" class=" icons product col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.6s">
									<div class="img-box">
										<div class="hover-mask2"></div>
										<span class="product-icon icon-eye"></span>
										<img class="img-responsive project-image" src="img/materialType/ice.jpg" alt="">
									</div>
									<div class="product-info col-md-12">
										<div>
											<h4 class="project-title">Ice({{stats.statsTable['ice'].count || 0}})</h4>
										</div>	
									</div>
								</article>
								<article ng-click="filterMaterialType('liquidAqueous')" class="design product col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
									<div class="img-box">
										<div class="hover-mask2"></div>
										<span class="product-icon icon-eye"></span>
										<img class="img-responsive project-image" src="img/materialType/liquidAqueous.jpg" alt="">
									</div>
									<div class="product-info col-md-12">
										<div>
											<h4 class="project-title">Liquid Aqueous({{stats.statsTable['liquidAqueous'].count || 0}})</h4>
										</div>
									</div>
								</article>
								<article ng-click="filterMaterialType('liquidOrganic')" class="mock-up product col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.4s">
									<div class="img-box">
										<div class="hover-mask2"></div>
										<span class="product-icon icon-eye"></span>
										<img class="img-responsive project-image" src="img/materialType/liquidOrganic.jpg" alt="">
									</div>
									<div class="product-info col-md-12">
										<div>
											<h4 class="project-title">Liquid Organic({{stats.statsTable['liquidOrganic'].count || 0}})</h4>
										</div>	
									</div>
								</article>
								<article ng-click="filterMaterialType('mineral')" class=" icons product col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.6s">
									<div class="img-box">
										<div class="hover-mask2"></div>
										<span class="product-icon icon-eye"></span>
										<img class="img-responsive project-image" src="img/materialType/mineral.jpg" alt="">
									</div>
									<div class="product-info col-md-12">
										<div>
											<h4 class="project-title">Mineral({{stats.statsTable['mineral'].count || 0}})</h4>
										</div>	
									</div>
								</article>
								<article ng-click="filterMaterialType('organism')" class=" icons product col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
									<div class="img-box">
										<div class="hover-mask2"></div>
										<span class="product-icon icon-eye"></span>
										<img class="img-responsive project-image" src="img/materialType/organism.jpg" alt="">
									</div>
									<div class="product-info col-md-12">
										<div>
											<h4 class="project-title">Organism({{stats.statsTable['organism'].count || 0}})</h4>
										</div>	
									</div>
								</article>
								<article ng-click="filterMaterialType('particulate')" class=" icons product col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.4s">
									<div class="img-box">
										<div class="hover-mask2"></div>
										<span class="product-icon icon-eye"></span>
										<img class="img-responsive project-image" src="img/materialType/particulate.jpg" alt="">
									</div>
									<div class="product-info col-md-12">
										<div>
											<h4 class="project-title">Particulate({{stats.statsTable['particulate'].count || 0}})</h4>
										</div>	
									</div>
								</article>
								<article ng-click="filterMaterialType('rock')" class=" icons product col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.6s">
									<div class="img-box">
										<div class="hover-mask2"></div>
										<span class="product-icon icon-eye"></span>
										<img class="img-responsive project-image" src="img/materialType/rock.jpg" alt="">
									</div>
									<div class="product-info col-md-12">
										<div>
											<h4 class="project-title">Rock({{stats.statsTable['rock'].count || 0}})</h4>
										</div>	
									</div>
								</article>
								<article ng-click="filterMaterialType('sediment')" class=" icons product col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
									<div class="img-box">
										<div class="hover-mask2"></div>
										<span class="product-icon icon-eye"></span>
										<img class="img-responsive project-image" src="img/materialType/sediment.jpg" alt="">
									</div>
									<div class="product-info col-md-12">
										<div>
											<h4 class="project-title">Sediment({{stats.statsTable['sediment'].count || 0}})</h4>
										</div>	
									</div>
								</article>
								<article ng-click="filterMaterialType('snow')" class=" icons product col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.4s">
									<div class="img-box">
										<div class="hover-mask2"></div>
										<span class="product-icon icon-eye"></span>
										<img class="img-responsive project-image" src="img/materialType/snow.jpg" alt="">
									</div>
									<div class="product-info col-md-12">
										<div>
											<h4 class="project-title">snow({{stats.statsTable['snow'].count || 0}})</h4>
										</div>	
									</div>
								</article>
								<article ng-click="filterMaterialType('soil')" class=" icons product col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.6s">
									<div class="img-box">
										<div class="hover-mask2"></div>
										<span class="product-icon icon-eye"></span>
										<img class="img-responsive project-image" src="img/materialType/soil.jpg" alt="">
									</div>
									<div class="product-info col-md-12">
										<div>
											<h4 class="project-title">Soil({{stats.statsTable['soil'].count || 0}})</h4>
										</div>	
									</div>
								</article>
								<article ng-click="filterMaterialType('tissue')" class=" icons product col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
									<div class="img-box">
										<div class="hover-mask2"></div>
										<span class="product-icon icon-eye"></span>
										<img class="img-responsive project-image" src="img/materialType/tissue.jpg" alt="">
									</div>
									<div class="product-info col-md-12">
										<div>
											<h4 class="project-title">Tissue({{stats.statsTable['tissue'].count || 0}})</h4>
										</div>	
									</div>
								</article>
								<article ng-click="filterMaterialType('other')" class=" icons product col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.4s">
									<div class="img-box">
										<div class="hover-mask2"></div>
										<span class="product-icon icon-eye"></span>
										<img class="img-responsive project-image" src="img/materialType/others.jpg" alt="">
									</div>
									<div class="product-info col-md-12">
										<div>
											<h4 class="project-title">Others({{stats.statsTable['other'].count || 0}})</h4>
										</div>	
									</div>
								</article>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 tableList">						
				  		<ul>
				  			<li ng-repeat="sample in samples"><a ng-click="viewSample(sample.igsn,sample.latitude,sample.longitude,sample.message)">{{sample.logTimeStamp}} - {{sample.igsn}}, {{sample.name}}</a></li>
				  		</ul>						    							
					</div>
				</div>
			</div>

		</section>