@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,600&subset=latin,latin-ext);

h1,h2,h3,h4,h5,h6, body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300; 
}
p{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300; 
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 20px;
}
body {
	padding-top: 0;
	color:#4c4c4c;
}

legend {
	color : #337ab7;
	padding-top: 10px;	
}

strong{
	font-weight: 600;
}
.padding-top-bottom {
	padding: 60px 0;
}

.padding-top-20{
	padding: 20px 0 0 0;
}

.padding-top-10{
	padding-top: 10px;
}

h3.center {
	margin: 25px 0 20px 0;
}

.iconBig {
	font-size: 50px;
	display: block;
	/* border-radius: 50%; */
	/* border: 2px solid #fff; */
	width: 80px;
	height: 80px;
	margin: 0 auto 0 auto;
	/* line-height: 50px; */
}
.iconBig:before {
	line-height: 100px;
}

/* ------------------------ colors ------------------------ */
.gray-bg {
	background-color: #f2f2f2;
}
.color-bg{
	background-color:#23A657;
}
.dark-bg {
	background-color: #323A42;
}


/* ------------------------ hero slider ------------------------ */
#hero-slider{
	z-index: -1;
}

.welcome-content h2{
	font-size: 80px;
	font-weight: 200;
}
.welcome-content {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	margin-top: -10em;
	z-index: 12;
}

#hero h2 {
	font-size: 18px;
}	
#hero .btn-store {
	margin: 0;
}
#hero img {
	margin: 0 auto 0 auto;
	/* max-width: 300px; */
	margin-bottom: 15px;
}
/* ------------------------ section ------------------------ */

.section-header h2 {
	margin-top: 0;
	margin-bottom: 3px;
	font-weight: 600;
}
.section-header h4 {
	margin-top: 0;
}


/* ------------------------ image background ------------------------ */
.image-bg {
	overflow: hidden;
	background-size: cover;
	background-image: url('../img/12.jpg');
	background-position: center 16%;
	position: relative;
}


.overlay-bg {position: absolute; top: 0; left: 0; right: 0; bottom: 0;  opacity: 0.5;
	background-color: #000;
	z-index: 10;}


.dark-bg a {
	color: #23A657;
}
.light-typo {
	color: #fff;
}

.dark-typo {
	color: #272727;
}

.section-header{
	margin-bottom: 40px;
}
footer {
	padding-left: 15px;
	padding-right: 15px;
}
.img-center {
	margin: 0 auto;
}


/* ------------------------ nav bar ------------------------ */
.navbar{
	background-color: #242424;
	/* background-color: rgba(36,36,36,0.9); */
	border: 0;

}
.navbar-header{
	/*padding-top: 5px;*/
}
.navbar-header i {
	float: left;
	margin-right: 10px;
	font-size: 21px;
	color: #23A657;
	margin-top: 3px;
}
.navbar-brand {
	/*line-height: 30px;*/
	padding: 7px 0 0 15px;
	/*margin-left: 0;*/
}
.navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand {
        /*margin-left:0;*/
  }
.navbar-collapse{
	 /*padding: 5px 0; */
}

.navbar-nav {
	text-transform: uppercase;
	font-size: 14px;
	/*padding: 5px 0;*/
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-brand	{
	color: #FFF;
	line-height: 30px;
}
.navbar-inverse .navbar-nav>li>a:hover, 
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
	color: #23A657;
	background-color: transparent;
}

.media>.pull-left {
	margin-right: 15px;
}

.navbar-inverse .navbar-nav>li>a.active,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
	color: #23A657;
	background-color: transparent;
}

.navbar-btn {
	background-color: #23A657;
	border: 0;
	color: #FFF;
	font-weight: 300;
}

.dropdown{
	padding-top: 13px;
}
.dropdown-toggle{
	background-color: #23A657;
	color: #FFF;
	border: 0;
	font-weight: 300;
}
.dropdown-toggle:hover,.dropdown-toggle:focus,.dropdown-toggle:active, .open .dropdown-toggle.btn-default{
	background-color: #000;
	color: #FFF;
}
.dropdown-menu {
	min-width: 120px;
	background-color: #000;
	border: 0;
	color: #FFF;
}
.dropdown-menu>li>a {
	color:#FFF;
	font-weight: 300;
}
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus{
	background-color: #23A657;
	color: #FFF;
}
.navbar-toggle {
	margin-top: 14px;
	margin-bottom: 14px;
}

.navbar-toggle.second{
	padding: 6px 10px 6px 10px;
}

/* ------------------------ footer ----------------------*/

.paymentMethodImg img {
	margin-left: 5px;
	/*text-align: center;*/
}

/* ------------------------ buttons ----------------------*/
.btn-store {
	border: none;
	font-family: inherit;
	font-size: 14px;
	cursor: pointer;
	padding: 12px 23px;
	display: inline-block;
	margin: 0 10px 10px 0;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: 300;
	outline: none;
	position: relative;
	background: #23A657;
	color: #fff;
	border-radius: 5px;
	-webkit-transition:all .3s ease-out;
	-moz-transition:all .3s ease-out;
	transition:all .3s ease-out;
}
.btn-store:hover,
.btn-store:focus,
.btn-store:active {
	color: #fff;
	top: 0;
	text-decoration: none;
	background-color: #15C56A;
	box-shadow: none;
}
.btn-store.outline {
	background: transparent;
	border:2px solid #23A657;
	box-shadow: none;
	
	color: #23A657;
	text-decoration: none;
	-webkit-transition:all .3s ease-out;
	transition:all .3s ease-out;
	/* padding: 13px 30px; */
	font-weight: 600;
}
.btn-store.color {
	box-shadow: none;
	text-decoration: none;
	background-color: #F77F00;
}
.btn-error{
	background-color:	#F05557 !important;
}
.btn-store.dark {
	box-shadow: none;
	text-decoration: none;
	background-color: #313a43;
}
.btn-store.dark:hover,
.btn-store.dark:focus,
.btn-store.dark:active {
	top: 0;
	background-color: #1A1F23;
	text-decoration: none;
}
.btn-store.color:hover,
.btn-store.color:focus,
.btn-store.color:active {
	background: #fff;
	background-color: #f75b00;
	top:0;
	text-decoration: none;
}
.btn-store.outline:hover,
.btn-store.outline:focus,
.btn-store.outline:active {
	background: #23A657;
	color:#FFF;
	top:0;
	text-decoration: none;
}
.btn-store.icon-left	[class*=in]{
	margin-right:10px;
}
.btn-store.icon-right	[class*=in]{
	margin-left:10px;
}
.navbar-inverse .navbar-toggle {
	border: none;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: #23A657;
}
.ico {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.btn-store [class*=ico] {
	margin-right: 10px;
}
.btn-right {
	float: right;
	margin-right: 0;
}


/* ------------------------------ products -------------------------- */
.project-price {
	position: relative;
	float: right;
	font-weight: 600;
	font-size: 21px;
	margin: 0;
}
.project-oldprice {
	position: relative;
	float: right;
	margin: 0;
	font-size: 16px;
	text-decoration: line-through;
	color: #999;
	padding: 1px 8px 0 0 ; 
	display: inline;
}

.product {
	position:relative;
	 
	margin-bottom: 30px;
	 overflow: hidden;
	 display:block;
}

.img-box:hover .hover-mask2{
	opacity:.5; 
	cursor: pointer;
	-o-transition:.1s;-ms-transition:.1s;-moz-transition:.1s;-webkit-transition:.1s;transition:.1s;
}
.but {
	position: absolute;
	width: 100%;
	top:45%;
}
.product-icon:before {
	position: absolute;
	text-align: center;
	opacity: 0;
	top: 50%;
	left: 50%;
	color: #fff;
	font-size: 30px;
	margin: -15px 0 0 -15px;
	-moz-transition: all 200ms ease-out;
	-webkit-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}
.img-box:hover .product-icon:before {
	opacity: 1;
	font-size: 50px;
	margin: -25px 0 0 -25px;
}
.product-info{
	display:block;
	border: 0;
	width: 100%;
	opacity: 1;
	padding: 10px 5px 0 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.product-info div h4{
	font-weight: 400;
	margin: 0;
	color: #23A657;
	line-height: 24px;
}
.product-info div p{
	margin: 0;
	color: #000;
	font-size: 14px;
}
.img-box{
	overflow: hidden;
	position: relative;
	border-radius: 5px;
}
.hover-mask2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #23A657;
	opacity: 0;
	display: block;
	-o-transition:1s;-ms-transition:1s;-moz-transition:1s;-webkit-transition:1s;transition:1s;
}




#main-footer {
	padding: 40px 0 20px;
}
.checkbox, .radio {
	margin-bottom: 12px;
	padding-left: 32px;
	position: relative;
	-webkit-transition: color 0.25s linear;
	transition: color 0.25s linear;
	font-size: 14px;
	line-height: 1.5;
}
label.show {
	display: block;
	text-decoration: none;
	/* display: inline; */
}
input[type=radio],input[type=checkbox] {
    margin: 4px 7px 0 0;
    line-height: normal;
    font-size: 21px;
    /* display: inherit; */
    /*float: left;*/
    text-align: center;
}
form p {
	margin-top: 16px;
}

.input-group .input-group-btn .btn{
	margin: 0;
}

.form-control-inline {
    min-width: 0;
    width: auto!important; 
    display: inline!important;
}






/* ------------------------------ Media -------------------------- */
@media (max-width: 480px) { 
	.copyright {
		width: 100%;
		text-align: center;
	}
	h2 {font-size: 26px;}
}	
@media (max-width: 768px) { 
	.text-col,
	.text-col2,
	.cta-message {
		text-align: center;
	}
	.hero-slider, .hero-sloder h2 {
		text-align: center !important;
	}
	.welcome-content {
		top: 43%;
	}
	.welcome-content img {
		padding: 0 15px; 
	}
	.padding-top-bottom {
		padding: 30px 0;
	}
	h1 {font-size: 28px;}
	h3 {/* font-size: 18px; */}
	.news {
		padding-bottom: 40px;
	}

}
 @media (max-width: 992px) { 
 	.cta-message {
		text-align: center;
	}
	.text-col{
		margin-top: 0;
	}
 }


/*spacers*/
hr.gradientwhite{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
    border-color: white;
    color: white;
    background-color:white;
}

/*Summary detail*/
.summary-banner {
  background: 
    url(../img/summary-banner.jpg);
  background-size: cover;
  width: 100%;
  height: 150px;
  opacity: 0.8;

   
}

.summary-banner h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
}

/*IGSN*/
.map {
	height:400px;
	width: 100%
}

.map_expand {
	height:800px;
	width: 100%
}

/*Banner Header CSS*/

/*.banner {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(../img/map.jpg);
  background-size: cover;
  width: 100%;
  height: 200px;
 
}*/
.banner {
  background: 
    url(../img/map.jpg);
  background-size: cover;
  width: 100%;
  height: 250px;
  opacity: 0.8;

   
}

.mid h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: relative;
  top: 50%;  
  font-size: 3rem;
  
}

.search-background{
  background: url(../img/background.png);
  background-size: cover;
  width: 100%;
  height: 100%;
}

/* panel header*/
.panel > .blue {
    background-image: none;
    background-color: #2DAFF0;
    color: white;

}

/*Map toolbar test*/
.blackGradient{
	background-color: #171916; /*fallback for non-CSS3 browsers*/ 
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#535353) to(#171916)); /*old webkit*/ 
	background: -webkit-linear-gradient(#535353, #171916); /*new webkit*/ 
	background: -moz-linear-gradient(#535353, #171916); /*gecko*/ 
	background: -ms-linear-gradient(#535353, #171916); /*IE10*/ 
	background: -o-linear-gradient(#535353, #171916); /*opera 11.10+*/ 
	background: linear-gradient(#535353, #171916); /*future CSS3 browsers*/ 
	-pie-background: linear-gradient(#535353, #171916); /*PIE*/ 
	 behavior: url(/css/PIE.htc);  
	color: #B7B7B7;
	opacity:0.9;
}
	#map-toolbar{ height: 67px; }
	#map-toolbar ul{ list-style: none; padding: 0px; }
	#map-toolbar li{ float: left; background: url(../img/toolbar/map-tools-divider.png) no-repeat right center; padding: 8px 10px 0px 10px; text-align: center; margin: 0px; }
	#map-toolbar li.heading{ font-size: 16px !important; color: #fff !important; }
	#map-toolbar li.first-child, #map-toolbar li.last-child /*#map-toolbar li:first-child, #map-toolbar li:last-child*/{ background: none; } 
	#map-toolbar input{ margin: 0px; padding: 0px; }
	
	.panBtn,.panBtnActive,
	.boxBtn,.boxBtnActive,
      
	.delBtn,.delBtnActive,
	.mapGoBtn,
	.helpBtn{ width: 38px; height: 37px; display: block; cursor:pointer; }
	
	#map-toolbar .panBtn{ background: url(../img/toolbar/map-tools-pan-normal-btn.png) no-repeat; }
	#map-toolbar .panBtn:hover{ background: url(../img/toolbar/map-tools-pan-hover-btn.png) no-repeat; }
	#map-toolbar .panBtnActive{ background: url(../img/toolbar/map-tools-pan-hover-btn.png) no-repeat; }
	
	#map-toolbar .latLongBtn{ color: #fff; margin-top: 10px; display: block; cursor: pointer; }
	#map-toolbar #regionPanel{ height: 37px;}
	#map-toolbar #regionPanel a{ display: inline-block;} 
	#map-toolbar .boxBtn{ background: url(../img/toolbar/map-tools-box-normal-btn.png) no-repeat; }
	#map-toolbar .boxBtnActive{ background: url(../img/toolbar/map-tools-box-hover-btn.png) no-repeat; }
	#map-toolbar .boxBtn:hover{ background: url(../img/toolbar/map-tools-box-hover-btn.png) no-repeat; }
	#map-toolbar .polyBtn{ background: url(../img/toolbar/map-tools-poly-normal-btn.png) no-repeat; }
	#map-toolbar .polyBtnActive{ background: url(../img/toolbar/map-tools-poly-hover-btn.png) no-repeat; }
	#map-toolbar .polyBtn:hover{ background: url(../img/toolbar/map-tools-poly-hover-btn.png) no-repeat; }
	#map-toolbar .delBtn{ background: url(../img/toolbar/map-tools-delete-normal-btn.png) no-repeat; }
	#map-toolbar .delBtnActive{ background: url(../img/toolbar/map-tools-delete-hover-btn.png) no-repeat; }
	#map-toolbar .delBtn:hover{ background: url(../img/toolbar/map-tools-delete-hover-btn.png) no-repeat; }
	.mapGoBtn{ background: url(../img/toolbar/map-tools-go-normal-btn.png) no-repeat; }
	.mapGoBtn:hover{ background: url(../img/toolbar/map-tools-go-hover-btn.png) no-repeat; }
		

	
	#map-toolbar .helpBtn{ background: url(../img/toolbar/reset.png) no-repeat; }
	#map-toolbar .helpBtn:hover{ background: url(../img/toolbar/reset.png) no-repeat; }
	#map-toolbar a.hide, #map-toolbar a.show{ margin: 2px 12px 0px 0px; padding: 0px 30px 0px 0px; color: #fff;  float: right; }
	 
     
 /*End test toolbar*/
 
 
/*Thumbnail list*/


.thumbNailList * {
  margin: 0;
  padding: 0;
}

.thumbNailList > ul {
  list-style-type: none;
  width: 100%;
}

.thumbNailList h3 {
  font: bold 18px/1.5 Helvetica, Verdana, sans-serif;
}

.thumbNailList > ul > li {
  background: #ffffff;
}

.thumbNailList > ul > li img {
  float: left;
  margin: 0 10px 0 0;
  padding : 10px;
}

.thumbNailList > ul > li ul {
  list-style-position: inside;
}

.thumbNailList > ul > li p,
.thumbNailList > ul > li li {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}


.thumbNailList > ul > li {
  padding: 10px;
  overflow: auto;
}

.thumbNailList > ul > li:hover {
  background: #eee;
 
}

.thumbNailList > ul > li > ul > li:hover {
  cursor: pointer;
}

/*List css*/
.tableList ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
.tableList li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
 
.tableList li:last-child {
  border: none;
}
 
.tableList li a {
  text-decoration: none;
  color: #808040;	
  display: block;

 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
.tableList li a:hover {
  font-size: 25px;
  background: #f6f6f6;
}

/*Extend bootstrap panel color and design*/
.panel-info-gradient {
  border-color: #bce8f1;
}
.panel-info-gradient > .panel-heading {
  color: #0080c0;
  border-color: #bce8f1;
  background: -webkit-linear-gradient(#ecf9fb, #ffffff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ecf9fb, #ffffff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ecf9fb, #ffffff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ecf9fb, #ffffff); /* Standard syntax */
}
.panel-info-gradient > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #bce8f1;
}
.panel-info-gradient > .panel-heading .badge {
  color: #d9edf7;
  background-color: #31708f;
}
.panel-info-gradient > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #bce8f1;
}

/*Summary panel*/
.summary-panel h2{
	color: #0080c0
}

.text-blue {
	color: #0080c0
}

.disable {
	color: #ccc;
}

.pointer-cursor {
	cursor: pointer;
}

/*angular material tabs css*/

.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }
    
    
.map-overlay-panel {
  background:  #ffffff;
  opacity: 0.8;
  display: block;
  width: 25em;
  overflow: scroll;
  position: absolute;
  right : 0em;	
  font-size: 15px;  
  height: 100%;
  z-index: 50;  
  	
  padding-left: 0px
 
}  

.thumbNailList i {
	margin: 5px 5px 5px 5px;
	 cursor: pointer;
}

button.map-overlay-panel-toggle {  
  background-color: Transparent;
  outline:none;
  border: none;
  color: #ffffff;
  display: block; 
  height: 28px;
  width: 100px;
  top : 30px;
  right : 1em;	  
  position: absolute;   
  z-index: 50;
 
}
