 <div class="modal-header">
     <div class="summary-banner mid text-center">
	 	<h1><a href="http://igsn.github.io/"><img  src="img/igsn_logo.png" alt="shop logo" width="50"></a>&nbsp; IGSN DETAIL PANEL</h1>
	</div>	
 </div>
 <div class="modal-body">
 
	<div class="container-fluid">
		
		<div class="row summary-panel">
			<div class="col-md-6">
			 <h2>Sample Number</h2>
			 <p><a href="http://hdl.handle.net/10273/{{details.sample[0].sampleNumber.value}}"><b>{{details.sample[0].sampleNumber.identifierType}}:</b>{{details.sample[0].sampleNumber.value}}</a></p>
			 <h2>Sample Name</h2>
			 <p>{{details.sample[0].sampleName}}
			 	<h4 ng-show="details.sample[0].otherNames.otherName">Other names</h4>
			 	<ul>
		      		<li ng-repeat="otherName in details.sample[0].otherNames.otherName">{{otherName}}</li>
		      	</ul>	
			 </p>
			 <h2 ng-if="details.sample[0].comments">Description</h2>
			 <p nf-if="details.sample[0].comments">{{details.sample[0].comments}}</p>
			 <h2>Material Type</h2>
			  <ul>
	      		<li ng-repeat="material in details.sample[0].materialTypes.value.materialType">{{material}}</li>
			    <li ng-show="details.sample[0].materialTypes.nil==true" >{{details.sample[0].materialTypes.value.nilReason}}</li>
	      	  </ul>
			 <h2>Link to Resource</h2>
			 <ul>
			 	<li><a href="http://hdl.handle.net/10273/{{details.sample[0].sampleNumber.value}}">IGSN Link</a></li>
	      		<li><a href="{{details.sample[0].landingPage}}">Direct Link</a></li>			    
	      	  </ul>
			
			  
			</div>
			<div class="col-md-6">
			  <h2>Sample Curation</h2>			 			 
			  <p>
			  	<div ng-repeat="sampleCurator in details.sample[0].sampleCuration.curation">
			        <h4>Curator: {{sampleCurator.curator}}</h4>
			      	<ul>
			      		<li ng-if="sampleCurator.curationLocation != null">Curation Location: {{sampleCurator.curationLocation}}</li>
			      		<li ng-if="sampleCurator.curationTime!=null && sampleCurator.curationTime.timeInstant == null">Curation Time: {{sampleCurator.curationTime.timePeriod.start}} - {{sampleCurator.curationTime.timePeriod.end}}</li>
			      		<li ng-if="sampleCurator.curationTime!=null && sampleCurator.curationTime.timeInstant != null">Curation Time: {{sampleCurator.curationTime.timeInstant}}</li>
			      	</ul>
		      	</div>
			  </p>	
			  <h2>Sample Type</h2>
			  <ul>
	      		<li ng-repeat="sampleType in details.sample[0].sampleTypes.value.sampleType">{{sampleType}}</li>
	      		<li ng-show="details.sample[0].sampleTypes.nil==true">{{details.sample[0].sampleTypes.value.nilReason}}</li>
	      	  </ul>			  			 
			
			 <h2>Log</h2>
			 <ul>
			 	<li>Event: {{details.sample[0].logElement.event}}</li>
			 	<li>Time Stamp: {{details.sample[0].logElement.timeStamp}}</li>
			 	<li>{{details.sample[0].logElement.value}}</li>
			 </ul>
			</div>
		</div>
	
		<div class="row">
			<div class="panel panel-info-gradient">
				<div class="panel-heading">Map</div>
  				<div class="panel-body"><leaflet class="map" id="map" lf-center="center" tiles="tiles" markers="markers" defaults="defaults"></leaflet></div>
				
			</div>
		</div>
		
		<div class="row">
			<div class="panel-group" id="accordion">
			  
			  <div ng-show="details.sample[0].relatedResources != null" class="panel panel-info-gradient">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" data-target="#relatedResource">
			        Related Resources</a>
			      </h4>
			    </div>
			    <div id="relatedResource" class="panel-collapse collapse">
			      <div class="panel-body">
			      	<ul>
			      		<li ng-repeat="relatedResource in details.sample[0].relatedResources.relatedResourceIdentifier">{{relatedResource.relatedIdentifierType}} {{relatedResource.relationType}} {{relatedResource.value}}</li>
			      	</ul>
			       </div>
			     </div>
			  </div>
			  <div class="panel panel-info-gradient">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" data-target="#sampleCollector">
			        Sample Collector</a>
			      </h4>
			    </div>
			    <div id="sampleCollector" class="panel-collapse collapse">
			      <div class="panel-body">
			      	<ul>
			      		<li ng-repeat="sampleCollector in details.sample[0].sampleCollectors.value.collector">{{sampleCollector.collectorIdentifier}} : {{sampleCollector.value}}</li>
			      		<li ng-show="details.sample[0].sampleCollectors.nil == true">{{details.sample[0].sampleCollectors.value.nilReason}}</li>
			      	</ul>
			      </div>
			    </div>
			  </div>
			 
			   <div ng-show="details.sample[0].purpose != null" class="panel panel-info-gradient">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" data-target="#purpose">
			        Purpose</a>
			      </h4>
			    </div>
			    <div id="purpose" class="panel-collapse collapse">
			      <div class="panel-body">
		      		<ul>
			      		<li>{{details.sample[0].purpose}}</li>			      		
			      	</ul>			      	
			      </div>
			    </div>
			  </div>
			  <div ng-show="details.sample[0].samplingCampaign != null" class="panel panel-info-gradient">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" data-target="#samplingCampaign">
			        Sampling Campaign</a>
			      </h4>
			    </div>
			    <div id="samplingCampaign" class="panel-collapse collapse">
			      <div class="panel-body">
		      		<ul>
			      		<li>{{details.sample[0].samplingCampaign}}</li>			      		
			      	</ul>			      	
			      </div>
			    </div>
			  </div>
			  
			  <div ng-if="details.sample[0].classification.value && details.sample[0].classification.classificationIdentifier " class="panel panel-info-gradient">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" data-target="#classification" >
			        Classification</a>
			      </h4>
			    </div>
			    <div id="classification" class="panel-collapse collapse">
			      <div class="panel-body">
			      	<ul>
			      		<li ng-if="details.sample[0].classification.classificationIdentifier">Identifier: {{details.sample[0].classification.classificationIdentifier}}</li>
			      		<li ng-if="details.sample[0].classification.value">Classification: {{details.sample[0].classification.value}}</li>
			      	</ul>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-info-gradient">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" data-target="#samplingMethod" >
			        Sampling Method</a>
			      </h4>
			    </div>
			    <div id="samplingMethod" class="panel-collapse collapse">
			      <div class="panel-body">
			      	<ul>
			      		<li ng-if="details.sample[0].samplingMethod.nil==false">{{details.sample[0].samplingMethod.value.value}}</li>
			      		<li ng-if="details.sample[0].samplingMethod.nil==true">{{details.sample[0].samplingMethod.value.nilReason}}</li>
			      	</ul>
			      </div>
			    </div>
			  </div>
			  <div ng-show="details.sample[0].samplingFeatures != null" class="panel panel-info-gradient">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" data-target="#samplingFeature" >
			        Sampling Features</a>
			      </h4>
			    </div>
			    <div id="samplingFeature" class="panel-collapse collapse">
			      <div class="panel-body">
			      	<div ng-repeat="samplingFeature in details.sample[0].samplingFeatures.samplingFeature">
				        <h4>{{samplingFeature.samplingFeatureName.value}}</h4>
				        <p>{{samplingFeature.samplingFeatureName.samplingFeatureType}}</p>
				      	<ul>
				      		<li>Locality: {{samplingFeature.samplingFeatureLocation.locality}}</li>
				      		<li>Datum: {{samplingFeature.samplingFeatureLocation.elevation.datum}}</li>
				      		<li>Units: {{samplingFeature.samplingFeatureLocation.elevation.units}}</li>
				      		<li>Elevation: {{samplingFeature.samplingFeatureLocation.elevation.value}}</li>
				      		<li>SRS: {{samplingFeature.samplingFeatureLocation.wkt.srs}}</li>
				      		<li>Geometry: {{samplingFeature.samplingFeatureLocation.wkt.value}}</li>
				      	</ul>
				      	<div ng-repeat="sampledFeature in samplingFeature.sampledFeatures.sampledFeature">
					      	<h4>{{sampledFeature.value}}</h4>				        
					      	<ul>
					      		<li>Sampled Feature Type: {{sampledFeature.sampledFeatureType}}</li>				      	
					      	</ul>
				      	</div>
			      	</div>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-info-gradient">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" data-target="#samplingTime">
			        Sampling Time</a>
			      </h4>
			    </div>
			    <div id="samplingTime" class="panel-collapse collapse">
			      <div class="panel-body">
			      	<ul>
			      		<li ng-if="details.sample[0].samplingTime.value.timeInstant == null && details.sample[0].samplingTime.nil==false">Time Period: {{details.sample[0].samplingTime.value.timePeriod.start}} - {{details.sample[0].samplingTime.value.timePeriod.end}}</li>
			      		<li ng-if="details.sample[0].samplingTime.value.timeInstant != null && details.sample[0].samplingTime.nil==false">Time Instant: {{details.sample[0].samplingTime.value.timeInstant}}</li>
			      		<li ng-if="details.sample[0].samplingTime.nil==true">{{details.sample[0].samplingTime.value.nilReason}}</li>
			      	</ul>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
		
		
		
	</div>
    	
    	
 </div>
 <div class="modal-footer">
 	<button class="btn btn-store color pull-left" type="button" ng-click="cancel()">Cancel</button>  
	 <button class="btn btn-store pull-right" type="button" ng-click="ok()">OK</button>  	
 </div>