 <div class="modal-header">
     <div class="summary-banner mid text-center">
	 	<h1><a href="http://igsn.github.io/"><img  src="img/igsn_logo.png" alt="shop logo" width="50"></a>&nbsp; IGSN DETAIL PANEL</h1>
	</div>	
 </div>
 <div class="modal-body">
 
	<div class="container-fluid">
		
		<div class="row summary-panel">
			<div class="col-md-6">
			 <h2>Resource IGSN</h2>
			 <p ng-if="details.identifier.value.includes('http://hdl.handle.net/10273')"><a ng-href="http://igsn.org/{{details.identifier.value.replace('http://hdl.handle.net/10273/','')}}"><b>{{details.identifier.type}}:</b>{{details.identifier.value.replace('http://hdl.handle.net/10273/','')}}</a></p>
			 <p ng-if="details.identifier.value.includes('igsn.org')"><a ng-href="{{details.identifier.value}}"><b>{{details.identifier.type}}:</b>{{details.identifier.value.replace('http://igsn.org/','')}}</a></p>
			 <p ng-show="details.alternateIdentifiers.alternateIdentifier"><b>Alternate Identifiers</b>			 	
			 	<ul>
		      		<li ng-repeat="alternateIdentifier in details.alternateIdentifiers.alternateIdentifier"><b ng-show="alternateIdentifier.type">{{alternateIdentifier.type}}:</b>{{alternateIdentifier.value}}</li>
		      	</ul>	
			 </p>
			 <h2>Title</h2>
			 <p>{{details.title}}</p>			 
			 <h2>Material</h2>
			  <ul>
	      		<li ng-repeat="material in details.materials.material"><a href="{{material}}">{{material}}</a></li>			   
	      	  </ul>
	      	  <p ng-show="details.materials.alternateMaterials.alternateMaterial"><b>Alternate Materials</b>			 	
			 	<ul>
		      		<li ng-repeat="material in details.materials.alternateMaterials.alternateMaterial"><a href="{{material}}">{{material}}</a></li>
		      	</ul>	
			  </p>
			  <h2>Resource Type</h2>			 			 			 
		        <ul>
		        	<li><a href="{{details.resourceTypes.resourceType}}" target='_BLANK'>{{details.resourceTypes.resourceType}}</a></li>
		        </ul>
		        <p ng-show="details.resourceTypes.alternateResourceTypes"><b>Alternate Resource Types</b>			 	
				 	<ul>
			      		<li ng-repeat="resourceType in details.resourceTypes.alternateResourceTypes.alternateResourceType"><a ng-href="{{resourceType}}" target='_BLANK'>{{resourceType}}</a></li>
			      	</ul>	
			 	</p>

			</div>
			<div class="col-md-6">
			   <h2>Registered Object Type</h2>	
			   <ul>
		       	 <li><a href="{{details.registedObjectType}}" target='_BLANK'>{{details.registedObjectType}}</a></li>
		       </ul>
		       <h2 ng-show="details.registrant.name">Registrant</h2>	
			   <ul>
	        	 <li><b>Name:</b> {{details.registrant.name}}</li>
	        	 <li ng-show="details.registrant.identifier"><b>Identifier:</b> {{details.registrant.identifier}}</li>	        	 
	           </ul>
	           <p ng-show="details.registrant.affiliation.name"><b>Affiliation</b>			 	
			 	<ul>
		      		<li><b>Name:</b> {{details.registrant.affiliation.name}}</li>
		      		<li ng-show="details.registrant.affiliation.identifier.value"><b> Affiliation Identifier:</b> {{details.registrant.affiliation.identifier.type}} - {{details.registrant.affiliation.identifier.value}}</li>
		      	</ul>	
			   </p> 	
			   <h2 ng-if="details.description">Description</h2>
			 	<p ng-if="details.description">{{details.description}}</p>		      					  			 
			   <h2>Link to Resource</h2>
			   <ul>
			 	  <li ng-if="details.identifier.value.includes('http://hdl.handle.net/10273')"><a href="http://igsn.org/{{details.identifier.value.replace('http://hdl.handle.net/10273/','')}}">http://igsn.org/{{details.identifier.value.replace('http://hdl.handle.net/10273/','')}}</a></li>
			 	  <li ng-if="details.identifier.value.includes('igsn.org')"><a ng-href="{{details.identifier.value}}"><b>{{details.identifier.type}}:</b>{{details.identifier.value}}</a></li>	      					   
	      	   </ul>
			</div>
		</div>
	
		<div class="row">
			<div class="panel panel-info-gradient">
				<div class="panel-heading">Map</div>
  				<div class="panel-body"><leaflet class="map" id="map" lf-center="center" tiles="tiles" markers="markers" geojson="geojson" defaults="defaults"></leaflet></div>
				
			</div>
		</div>
		
		<div class="row">
			<div  class="panel-group" id="accordion">
			   <div ng-if="details.locations.toponym" class="panel panel-info-gradient">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" data-target="#toponym">
			         Toponym</a>
			      </h4>
			    </div>
			    <div id="toponym" class="panel-collapse collapse">
			      <div class="panel-body">
			      	<div>
				      	<p><b>Locality</b></p>
				      	<ul>
				      		<li ng-if="details.locations.toponym.name"><b>Name:</b> {{details.locations.toponym.name}}</li>			      		
				      		<li ng-if="details.locations.toponym.identifier"><b>Identifier({{details.locations.toponym.identifier.type}}):</b> {{details.locations.toponym.identifier.value}}</li>
				      	</ul>
				      
			      	</div>
			      </div>
			    </div>
			  </div>
			  <div ng-show="details.collectionMethods != null" class="panel panel-info-gradient">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" data-target="#collectionMethods">
			        Collection Method</a>
			      </h4>
			    </div>
			    <div id="collectionMethods" class="panel-collapse collapse">
			      <div class="panel-body">
			      	<ul>
			      		<li><b>Collection Method:</b> {{details.collectionMethods.collectionMethod}}</li>
			      	</ul>
			      	<p ng-show="details.collectionMethods.alternateCollectionMethods"><b>Alternate Collection Method</b></p>
			      	<ul>
			      		<li ng-repeat="altMethod in details.collectionMethods.alternateCollectionMethods.alternateCollectionMethod"><b>Alternate Method:</b> {{altMethod}}</li>
			      	</ul>
			       </div>
			     </div>
			  </div>
			  <div ng-if="details.collectors.collector" class="panel panel-info-gradient">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" data-target="#sampleCollector">
			         Collector</a>
			      </h4>
			    </div>
			    <div id="sampleCollector" class="panel-collapse collapse">
			      <div class="panel-body">
			      	<ul ng-repeat="collector in details.collectors.collector">
			      		<li><b>Name:</b> {{collector.name}}<span ng-if="collector.identifier.value"> - {{collector.identifier.value}}({{collector.identifier.type}})</span></li>			      		
			      		<li ng-if="collector.affiliation.name"><b>Affiliation:</b> {{collector.affiliation.name}} - {{collector.affiliation.identifier}}({{collector.affiliation.identifier.type}})</li>
			      		<hr>
			      	</ul>
			      </div>
			    </div>
			  </div>
			   <div class="panel panel-info-gradient">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" data-target="#contributor">
			         Contributor</a>
			      </h4>
			    </div>
			    <div id="contributor" class="panel-collapse collapse">
			      <div class="panel-body">
			      	<div ng-repeat="contributor in details.contributors.contributor">
				      	<p><b>{{contributor.name}}</b></p>
				      	<ul>
				      		<li><b>Type:</b> {{contributor.type}}</li>			      		
				      		<li ng-if="contributor.identifier.value"><b>Identifier({{contributor.identifier.type}}):</b> {{contributor.identifier.value}}</li>
				      	</ul>
				      	<hr>
			      	</div>
			      </div>
			    </div>
			  </div>
			   <div ng-if="details.relatedResources" class="panel panel-info-gradient">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" data-target="#relatedResources">
			         Related Resources</a>
			      </h4>
			    </div>
			    <div id="relatedResources" class="panel-collapse collapse">
			      <div class="panel-body">
			      	<div ng-repeat="relatedResource in details.relatedResources.relatedResource">
				      	<p><b>{{relatedResource.value}}</b></p>
				      	<ul>
				      		<li><b>Type:</b>{{relatedResource.type}})</li>			      		
				      		<li><b>Relation:</b> {{relatedResource.relationType}}</li>
				      	</ul>
				      	<hr>
			      	</div>
			      </div>
			    </div>
			  </div>
			   <div ng-if="details.supplementalMetadata" class="panel panel-info-gradient">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" data-target="#supplementalMetadata">
			         Supplemental Metadata</a>
			      </h4>
			    </div>
			    <div id="supplementalMetadata" class="panel-collapse collapse">
			      <div class="panel-body">	
			      	<ul>
			      		<li><b>Metadata Title:</b> {{details.supplementalMetadata.metadata.metadataTitle}})</li>			      		
			      		<li><b>Metadata URI:</b> {{details.supplementalMetadata.metadata.metadataURI}})</li>		
			      	</ul>
			      </div>
			    </div>
			  </div>
			  <div ng-if="details.date.timeInstant || details.date.timePeriod" class="panel panel-info-gradient">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" data-target="#samplingTime">
			        Date</a>
			      </h4>
			    </div>
			    <div id="samplingTime" class="panel-collapse collapse">
			      <div class="panel-body">
			      	<ul>
			      		<li ng-if="details.date.timeInstant == null && details.date.timePeriod">Time Period: {{details.date.timePeriod.start | date:'dd/MM/yyyy'}} - {{details.date.timePeriod.end | date:'dd/MM/yyyy'}}</li>
			      		<li ng-if="details.date.timeInstant != null">Time Instant: {{details.date.timeInstant}}</li>			      		
			      	</ul>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
		
		
		
	</div>
    	
    	
 </div>
 <div class="modal-footer">
 	<button class="btn btn-store color pull-left" type="button" ng-click="cancel()">Cancel</button>  
	 <button class="btn btn-store pull-right" type="button" ng-click="ok()">OK</button>  	
 </div>