 <div class="modal-header">
     <h3 class="modal-title">Sample Summary</h3>
 </div>
 <div class="modal-body">
 
	<div class="container-fluid">
		
		<div class="row summary-panel">
			<div class="col-md-6">
			 <h2>Sample Number</h2>
			 <p>{{details.sample[0].sampleNumber.identifierType}}:{{details.sample[0].sampleNumber.value}}</p>
			 <h2>Description</h2>
			 <p>{{details.sample[0].comments}}</p>
			</div>
			<div class="col-md-6">
			 <h2>test</h2>
			 <p>Bird surveys were undertaken within the 1 hectare core plot at the Karawatha Forest node of the South-East Queensland Peri-Urban Supersite (-27.63°, 153.08°). One survey was conducted in early February and the second was conducted in early May, 2015. Each general-search survey lasted 20 minutes with the single observer detecting bird species by call and sight within the 100 x 100 m plot. Surveys commenced within 1.5 hours after dawn.
			 </p>
			 <h2>test</h2>
			 <p>Bird surveys were undertaken within the 1 hectare core plot at the Karawatha Forest node of the South-East Queensland Peri-Urban Supersite (-27.63°, 153.08°). One survey was conducted in early February and the second was conducted in early May, 2015. Each general-search survey lasted 20 minutes with the single observer detecting bird species by call and sight within the 100 x 100 m plot. Surveys commenced within 1.5 hours after dawn.
			 </p>
			</div>
		</div>
	
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">Map</div>
  				<div class="panel-body"><leaflet class="map" id="map" lf-center="center" markers="markers" defaults="defaults"></leaflet></div>
				
			</div>
		</div>
		
		<div class="row">
			<div class="panel-group" id="accordion">
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
			        <span class="fa fa-camera-retro"></span> Collapsible Group 1</a>
			      </h4>
			    </div>
			    <div id="collapse1" class="panel-collapse collapse in">
			      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
			      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
			      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
			      commodo consequat.</div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
			        Collapsible Group 2</a>
			      </h4>
			    </div>
			    <div id="collapse2" class="panel-collapse collapse">
			      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
			      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
			      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
			      commodo consequat.</div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
			        Collapsible Group 3</a>
			      </h4>
			    </div>
			    <div id="collapse3" class="panel-collapse collapse">
			      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
			      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
			      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
			      commodo consequat.</div>
			    </div>
			  </div>
			</div>

		</div>
		
		
		
	</div>
    	
    	
 </div>
 <div class="modal-footer">
 	<button class="btn btn-store color pull-left" type="button" ng-click="cancel()">Cancellalal</button>  
	 <button class="btn btn-store pull-right" type="button" ng-click="ok()">OK</button>  	
 </div>